terratowns_endpoint="https://terratowns.cloud/api"
butterfinger= {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/butterfinger"
  content_version = 2 
}
snickers = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/snickers"
  content_version = 1 
}